* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

i {
    font-size: 26px !important;
}

p {
    font-size: 14px;
}

p span {
    font-weight: 500;
}

.special {
    font-weight: 400 !important;
    color: var(--blue) !important;
}

.nav-container {
    padding-left: 15%;
    padding-right: 15%;
}

.main-container {
    padding-left: 28%;
    padding-right: 30%;
}

.card-pub {
    max-width: 480px;
    width: 100%;
    min-height: 400px;
    padding: 5px 0;
    border-radius: 8px;
    background-color: #fff;
    color: rgb(71, 71, 71);
    border: 1px solid rgb(209, 208, 208);
}

.image-card img {
    max-width: 520px;
    width: 100%;
}

.img-fluid {
    max-width: 100%;
    height: 480px;
    object-fit: cover;
}

.footer-card {
    padding: 0 10px;
}

.p-5px-top {
    padding: 5px 0
}

button {
    background-color: transparent !important;
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

.red-color-insta {
    color: rgb(237, 73, 86);
}

@media (max-width: 1800px) {
    .main-container {
        padding-left: 21%;
        padding-right: 22%;
    }
}

@media (min-width:1280px) and (max-width: 1366px) {
    .nav-container {
        padding-left: 10%;
        padding-right: 10%;
    }
    .main-container {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media (max-width: 1279px) {
    .nav-container {
        padding-left: 0%;
        padding-right: 0%;
    }
    .main-container {
        padding-left: 10%;
        padding-right: 10%;
    }
    .card-pub {
        max-width: 520px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .nav-container {
        padding-left: 1.5%;
        padding-right: 1.5%;
    }
    .main-container {
        padding-left: .5%;
        padding-right: .5%;
    }
    .card-pub {
        max-width: 520px;
        width: 100%;
        border: none;
    }
}