main {
    background-color: rgba(250, 250, 250);
    padding-top: 80px;
    min-height: 100vh;
}

main .main-container .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .main-container .content .column-left {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .main-container .content .column-right {
    width: 35%;
}

main .main-container .content .column-right .content-column-right {
    position: fixed;
    max-width: 300px;
    width: 100%;
}

main .main-container .content .column-right .content-column-right .content-profile-logged {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

main .main-container .content .column-right .content-column-right .content-profile-logged .profile-logged {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main .main-container .content .column-right .content-column-right .content-profile-logged .profile-logged .profile-logged-picture img {
    width: 55px;
    border-radius: 50%;
}

main .main-container .content .column-right .content-column-right .content-profile-logged .profile-logged .profile-logged-id-name {
    font-size: 14px;
    padding-left: 20px;
}

main .main-container .content .column-right .content-column-right .content-profile-logged .profile-logged .profile-logged-id-name a,
.suggestions-for-you-id-name a {
    font-weight: 500;
}

main .main-container .content .column-right .content-column-right .content-profile-logged .profile-logged .profile-logged-id-name p {
    color: var(--grey)
}

main .main-container .content .column-right .content-column-right .content-profile-logged .profile-logged-change-account a,
.suggestions-for-you-follow-this-profile a {
    font-size: 12px;
    color: var(--blue)
}

main .main-container .content .column-right .content-column-right .suggestions-for-you-content {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}

main .main-container .content .column-right .content-column-right .suggestions-for-you-content a {
    font-size: 12px;
}

main .main-container .content .column-right .content-column-right .suggestions-for-you-content .suggestions-for-you-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    padding: 10px 0;
    font-weight: 500;
}

main .main-container .content .column-right .content-column-right .suggestions-for-you-content .suggestions-for-you-title .suggestions-for-you-text-title p {
    font-size: 14px;
    color: var(--grey);
}

main .main-container .content .column-right .content-column-right .suggestions-for-you-content .suggestions-for-you-porfile-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

main .main-container .content .column-right .content-column-right .suggestions-for-you-content .suggestions-for-you-porfile-item .suggestions-for-you-porfile-mini-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main .main-container .content .column-right .content-column-right .suggestions-for-you-content .suggestions-for-you-porfile-item .suggestions-for-you-porfile-mini-infos .suggestions-for-you-id-name {
    font-size: 14px;
    display: flex;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

main .main-container .content .column-right .content-column-right .suggestions-for-you-content .suggestions-for-you-porfile-item .suggestions-for-you-porfile-mini-infos .suggestions-for-you-id-name a {
    font-size: 14px;
}

main .main-container .content .column-right .content-column-right .suggestions-for-you-content .suggestions-for-you-porfile-item .suggestions-for-you-porfile-mini-infos .suggestions-for-you-id-name small {
    font-size: 12px;
    color: var(--grey);
}

main .main-container .content .column-right .content-column-right .suggestions-for-you-content .suggestions-for-you-porfile-item .suggestions-for-you-porfile-mini-infos .suggestions-for-you-porfile-picture img {
    border-radius: 100%;
    max-width: 35px;
}

main .main-container .content .column-right .content-column-right .footer-and-copyright {
    margin-top: 15px;
    color: var(--grey);
}

main .main-container .content .column-right .content-column-right .footer-and-copyright a,
main .main-container .content .column-right .content-column-right .footer-and-copyright p {
    font-size: 12px;
}

main .main-container .content .column-right .content-column-right .footer-and-copyright .footer-links,
main .main-container .content .column-right .content-column-right .footer-and-copyright .footer-copyright {
    margin: 5px 0;
}


/* */

main .main-container .content .column-left .card-publication-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 10px 5px 10px;
}

.card-publication-profile {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.card-publication-profile-picture-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-publication-profile-picture-name p {
    margin-top: -5px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 600;
}

.card-publication-profile-picture-name img {
    width: 32px;
    border-radius: 50%;
}

.menu-pub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;
}

.menu-pub-left {
    display: flex;
    flex-direction: row;
}

.likes {}

.all-comments {
    color: var(--grey);
}

.date p {
    font-size: 12px;
    color: var(--grey);
}

.publish-comment {
    margin-left: -10px !important;
    padding: 5px 10px;
    width: 100%;
    border-top: 1px solid var(--grey-border);
    z-index: 1;
}

.publish-comment form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.publish-comment form input {
    width: 80%;
}

.publish-comment form .publish-button {
    opacity: .5;
    color: var(--blue);
}

.publish-button-enable {
    opacity: 1 !important;
    color: var(--blue);
}

.menu-pub-icon:nth-child(2) {
    margin: 0 5px;
}

.menu-pub-icon {
    cursor: pointer;
}

@media (max-width: 1279px) {
    main .main-container .content {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
    main .main-container .content .column-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main .main-container .content .column-right {
        display: none;
        width: 0%;
    }
}

@media (max-width: 767px) {
    .card-publication-header {
        padding: 0 10px;
    }
}